<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICompaniasService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53579/CompaniasService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompaniasService" contract="UCV.Proxy.ICompaniasService" name="BasicHttpBinding_ICompaniasService" />
        </client>
    </system.serviceModel>
</configuration>